:root {
    --vermelho: red;
    --cinza: rgb(12, 158, 158);
    --azul: blue;
    --vinho:  rgb(153, 71, 126);
    --rosa: #dc6ebe;
    --roxo: rgb(67, 0, 83);
    --violetaescuro: #52237e;
    --preto: rgb(54, 50, 50);
}

.titulo_principal {
    text-align: center;
    font-size: 58px;
    color: var(--cinza);
    background-color: var(--vinho);
    padding: 10px;
}

ul {
    text-align: left;
    font-size: 50px;
    color: var(--roxo);
}

ol {
    font-size: 37px;
    color: var(--preto);
}

.cont {
    padding: 0px 50px;
}

.github {
    background-color: var(--vinho);
    display: flex;
    justify-content: center;
    padding: 18px;
}

.imgit {
    width: 70px; height: 30px;
}